@model AdminDelete

<a class="nav-link float-end" href="" data-bs-toggle="modal" data-bs-target="#adminCreateRoleModal_@Model.Role.Replace(" ", String.Empty)">
  Delete Role
</a>


<div class="modal fade" id="adminCreateRoleModal_@Model.Role.Replace(" ", String.Empty)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to Delete this role?</h1>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>This will remove all users from this role.</h1>
        <form asp-controller="Admin" asp-action="Delete" id="adminDeleteRole_@Model.Role.Replace(" ", String.Empty)">

            <input type="hidden" asp-for="Role" />

            <a class="nav-link float-end" href="javascript:$('#adminDeleteRole_@Model.Role.Replace(" ", String.Empty)').submit();">Delete</a>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>