<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoalTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoalTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow fixed-top z-index-3">
            <div class="container-fluid">
                <a class="navbar-brand px-4" asp-area="" asp-controller="Goal" asp-action="Index">GoalTracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Goal" asp-action="Index">Goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Milestone" asp-action="Index">Milestones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ActivityEntry" asp-action="Index">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>


<div class="row">

    <div id="left-side-navbar" class="col-2 p-3 mb-2 mr-4 z-index-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#"> 
                    <i class="bi-house" style="font-size: 1rem; color: #0077cc;"></i>Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-star" style="font-size: 1rem; color: #0077cc;"></i>Goals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>New Goal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-speedometer" style="font-size: 1rem; color: #0077cc;"></i>Dash
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-database-dash" style="font-size: 1rem; color: #0077cc;"></i>Metrics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-gear" style="font-size: 1rem; color: #0077cc;"></i>Settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-person-circle" style="font-size: 1rem; color: #0077cc;"></i>Account
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi-question-circle" style="font-size: 1rem; color: #0077cc;"></i>Help
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasRight">
                    <i class="bi-arrow-up-right-circle" style="font-size: 1rem; color: #0077cc;"></i>Offcanvas
                </a>
            </li>

        </ul>
    </div>

   



    <div class="container col-10 offset-2">
        <main role="main" class="p-4">
            @RenderBody()
        </main>
    </div>


    
        

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                ...
            </div>
        </div>
    

</div>


    <footer class="border-top-0 footer text-muted">
        <div class="container d-flex justify-content-end z-index-1">
            &copy; 2023 GoalTracker
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
