<div id="left-side-navbar" class="col-2 p-3 mb-2 mr-4 z-index-2">
    
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-house" style="font-size: 1rem; color: #0077cc;"></i>Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-star" style="font-size: 1rem; color: #0077cc;"></i>Goals
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>New Goal
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-speedometer" style="font-size: 1rem; color: #0077cc;"></i>Dash
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-database-dash" style="font-size: 1rem; color: #0077cc;"></i>Metrics
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-gear" style="font-size: 1rem; color: #0077cc;"></i>Settings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-person-circle" style="font-size: 1rem; color: #0077cc;"></i>Account
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi-question-circle" style="font-size: 1rem; color: #0077cc;"></i>Help
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasRight">
                <i class="bi-arrow-up-right-circle" style="font-size: 1rem; color: #0077cc;"></i>Offcanvas
            </a>
        </li>

    </ul>
    
</div>