<li class="nav-item">
  <a class="nav-link" href="#" id="light-theme-toggle-button" data-bs-theme-value="light">
    <i class="bi-moon-stars" style="font-size: 1rem; color: #0077cc;"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#" id="dark-theme-toggle-button" data-bs-theme-value="dark">
    <i class="bi-sun" style="font-size: 1rem; color: #0077cc;"></i>
  </a>
</li>