@model Kai

<button type="button" class="btn btn-outline-success" data-bs-toggle="collapse" href="#kaiChat" id="kaiChatStart">
  Let's get started
</button>


<div class="collapse" id="kaiChat">
  <div class="card card-body text-start me-auto mb-3" style="max-width: 80%; background-color: #D7F0F4; color: black !important;">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
  <div class="card card-body text-start ms-auto mb-3" style="max-width: 80%;">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
  <div class="card card-body text-start ms-auto mb-3" style="max-width: 80%;">
    Type here...
  </div>
</div>

