@model Kai

<button type="button" class="btn btn-outline-success" data-bs-toggle="collapse" href="#kaiChat">
  Let's get started
</button>


<div class="collapse" id="kaiChat">
  <div class="card card-body" style="width: 100%; height: 100%; overflow-y: scroll;">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>