@model Kai

<button type="button" class="btn btn-outline-success" href="" data-bs-toggle="modal" data-bs-target="#kaiModal_@Model.Id">
  Let's get started
</button>



<div class="modal fade" id="kaiModal_@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  offset-md-2">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">kai model: @Model.Model</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form asp-controller="Kai" asp-action="Create" id="kaiModalForm_@Model.Id">
          <input type="hidden" asp-for="Id" />

          <input class="form-control p-3" autocomplete="off" id="kaiModalFormPromptInput_@Model.Id" asp-for="Prompt" />

          <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-primary" />
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class=" btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>