@model IEnumerable<GoalTracker.Models.Kai>

@{
    ViewData["Title"] = "Index";
}


<div class="row m-5">
    <div class="col text-center d-flex justify-content-center align-items-center p-5" id="kaiChatContainer" style="height: 70vh;">

        <div>
            <h1 class="brand-logo-font">Hi, I'm kai - koala's AI interface.</h1>

            <p>
                @await Html.PartialAsync("~/Views/Kai/_Chat.cshtml", new Kai())
            </p>
        </div>


    </div>
</div>
