@model FileAttachment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FileAttachment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrackingRecordId" class="control-label"></label>
                <input asp-for="TrackingRecordId" class="form-control" />
                <span asp-validation-for="TrackingRecordId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileExtension" class="control-label"></label>
                <input asp-for="FileExtension" class="form-control" />
                <span asp-validation-for="FileExtension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedDate" class="control-label"></label>
                <input asp-for="UploadedDate" class="form-control" />
                <span asp-validation-for="UploadedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
