@model IEnumerable<GoalTracker.Models.Calendar>

@{
    ViewData["Title"] = "Index";
}

<h1>Calendar Index</h1>

<ul class="nav">
    
    <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_CalendarCreate">
        <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New Calendar
    </a>
    @await Html.PartialAsync("~/Views/Calendar/OffCanvas/_CalendarCreate.cshtml", new Calendar() { })

</ul>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            selectable: true

        });
        calendar.render();

        calendar.on('dateClick', function (info) {
            var name = prompt('Create new event for ' + info.dateStr);
            calendar.addEvent({
                title: name,
                start: info.dateStr,
                color: 'yellow',
                textColor: 'black',
                borderColor: 'black',
                editable: true
            });
        });

        calendar.on('eventClick', function (info) {
            alert('Event: ' + info.event.title);
            alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            alert('View: ' + info.view.type);

            // change the border color just for fun
            info.el.style.borderColor = 'red';
        });

    });

</script>





<div class="row g-0">
    <div class="col-md-10 offset-md-1">
        <div class="card p-3 mt-3">
            <div class="row">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>


 