@model GoalTracker.Models.Goal

@{
    ViewData["Title"] = "Edit";
}

<div class="row mt-5 mb-5">
    <div class="col-6">
        <h1>Edit Goal</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-2">
        <nav class="nav flex-column">
            <a asp-action="Index" class="nav-link">Back to List</a>
            <a asp-action="Details" asp-route-id="@Model.Id" class="nav-link">Back to Detail</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="nav-link">Delete</a>
        </nav>
    </div>

    <div class="col-md-6">
        <h4>Goal</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TargetDate" class="control-label"></label>
                <input asp-for="TargetDate" class="form-control" />
                <span asp-validation-for="TargetDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Completed" class="control-label"></label>
                @Html.CheckBoxFor(model => model.Completed)
                <span asp-validation-for="Completed" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 float-end">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
