@model IEnumerable<Notification>

@{
    ViewData["Title"] = "Index";
}

<h1>My notifications</h1>

 <div class="row p-1">
        <div class="col-4">
            <div id="notificationsList" class="list-group"></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifications.js"></script>