@model GoalTracker.Models.Goal

<div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvas_GoalCreate" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title" id="offcanvasRightLabel">Create Goal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body">
      
        
        <form asp-controller="Goal" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-3">
                        <label asp-for="CreatedDate" class="control-label"></label>
                        <input asp-for="CreatedDate" class="form-control" />
                        <span asp-validation-for="CreatedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label asp-for="TargetDate" class="control-label"></label>
                        <input asp-for="TargetDate" class="form-control" />
                        <span asp-validation-for="TargetDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mb-3">
                        <label asp-for="CompletedDate" class="control-label"></label>
                        <input asp-for="CompletedDate" class="form-control" />
                        <span asp-validation-for="CompletedDate" class="text-danger"></span>
                    </div>
                </div>
            </div>     
            <div class="form-group mb-3">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group mb-3">
                        <label asp-for="Color" class="control-label">Color Picker</label>
                        <input asp-for="Color" type="color" class="form-control form-control-color" 
                            id="goalColorInputCreate" value="#563d7c" title="Choose your color">
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-9">
                    <div class="form-group mb-3">
                        <label asp-for="ColorSuggestions" class="control-label"></label>
                        <div class="row">
                            @if (@Model!.ColorSuggestions != null) 
                            {
                                @foreach (var c in @Model!.ColorSuggestions) 
                                {                                            
                                    <input asp-for="ColorSuggestions" type="color" class="form-control form-control-color d-inline mx-3 colorSuggestion" 
                                        id="GoalColorSuggestion_@c.Value" value="@c.Value" data-value="@c.Value" data-targetId="goalColorInputCreate" title="Suggestion">                                                   
                                } 
                            }                    
                        </div>    
                    </div>       
                </div>
            </div> 

            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.Completed)
                    <input class="form-check-input" asp-for="Completed" />
                </label>
            </div>
                
            <div class="form-group mb-3 float-end">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }

    </div>
</div>