@model IEnumerable<GoalTracker.Models.DashViz>

@{
    ViewData["Title"] = "Index";
}

<h1>DashViz</h1>

<ul class="nav">

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_DashVizCreate">
            <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New DashViz
        </a>
        @await Html.PartialAsync("~/Views/DashViz/OffCanvas/_DashVizCreate.cshtml", new DashViz() { })
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Dash" asp-action="Index">
            <i class="bi-speedometer" style="font-size: 1rem; color: #0077cc;"></i>Dashboards
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="VizType" asp-action="Index">
            <i class="bi-file-earmark-bar-graph" style="font-size: 1rem; color: #0077cc;"></i>VizType
        </a>
    </li>
</ul>



<div class="col-md-10 offset-md-1">
    <div class="row g-0">

        @foreach (var item in Model)
        {


            <div class="pt-3 pe-3 col-md-4">
                
                <div class="card" style="height: 14rem;">
                    <div class="card-header">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Title)
                            @if (@item.Favorited)
                            {
                                <i class="bi-star-fill" style="font-size: 1rem; color: #0077cc;"></i>
                            }
                            else
                            {
                                <i class="bi-star" style="font-size: 1rem; color: #0077cc;"></i>
                            }
                        </h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">@Html.DisplayFor(modelItem => item.Name)</h6>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>

                    </div>
                    <div class="card-footer">


                        <a class="card-link align-bottom" data-bs-toggle="offcanvas"
                            href="#offCanvas_DashVizDetails_@item.Id">
                            <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i>Details
                        </a>
                        @await Html.PartialAsync("~/Views/DashViz/OffCanvas/_DashVizDetails.cshtml", @item)


                        <a class="card-link align-bottom" data-bs-toggle="offcanvas" href="#offCanvas_DashVizEdit_@item.Id">
                            <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i>Edit
                        </a>
                        @await Html.PartialAsync("~/Views/DashViz/OffCanvas/_DashVizEdit.cshtml", @item)


                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_DashVizDelete_@item.Id">
                            <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete
                        </a>
                        @await Html.PartialAsync("~/Views/DashViz/OffCanvas/_DashVizDelete.cshtml", @item)


                    </div>
                </div>
            </div>

        }
    </div>
</div>
