<div class="row m-5 text-center">
    <div class="col-md-4">

        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Demo">Demo</a>

    </div>
    <div class="col-md-4">

        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>

    </div>
    <div class="col-md-4">

        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Get in Touch!</a>

    </div>
</div>
