@{
    ViewData["Title"] = "Contact Page";
}

<partial name="_HomeNav" />

<div class="text-center">

    

    <h1 class="display-4 mt-5">Contact us, we'd love to hear from you!</h1>

    


</div>
