@{
    ViewData["Title"] = "Privacy Policy";
}

<partial name="_HomeNav" />

<div class="row mt-3 mb-3">
    <div class="col-md-4 offset-md-4">
        <div class="row mt-3 mb-3">

    


            <h1 class="row mt-3 mb-3">@ViewData["Title"]</h1>

            

            <p>
                We promise not to do anything sneaky or unethical with your information. 
                We promise not to share, give, or sell your information to anyone for any reason.
                We may set cookies or allow you to choose to interact with third party services in order to enhance your experience.
                We encourage you to reach out and engage in conversation with us regarding any concerns that arise.
                We hold your safety and security to the highest standards.
                Thank you for using our software.
            </p>

        </div>
    </div>
</div>
