@model TeamViewModel

<form asp-controller="Team" asp-action="RemoveTeamMember"
  id="removeTeamMember_@Model?.RemoveUser?.Id@Model?.RemoveTeam!.Id">
  <input type="hidden" asp-for="RemoveTeam!.Id" />
  <input type="hidden" asp-for="RemoveUser!.Id" />
  <input type="hidden" asp-for="AllUsers" />
    <a class="nav-link" href="javascript:$('#removeTeamMember_@Model?.RemoveUser?.Id@Model?.RemoveTeam!.Id').submit();">Remove</a>
</form>