@model IEnumerable<GoalTracker.Models.Dash>

@{
    ViewData["Title"] = "Index";
}

<h1>Dashboards</h1>

<ul class="nav">

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_DashCreate">
            <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New Dashboard
        </a>
        @await Html.PartialAsync("~/Views/Dash/OffCanvas/_DashCreate.cshtml", new Dash() { })
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="DashViz" asp-action="Index">
            <i class="bi-graph-up" style="font-size: 1rem; color: #0077cc;"></i>DashViz
        </a>
    </li>
</ul>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mt-3 mr-3" style="height: 14rem;">
                <div class="card-header">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Title)
                        @if (@item.Favorited)
                        {
                            <i class="bi-star-fill" style="font-size: 1rem; color: #0077cc;"></i>
                        }
                        else
                        {
                            <i class="bi-star" style="font-size: 1rem; color: #0077cc;"></i>
                        }
                    </h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-secondary">@Html.DisplayFor(modelItem => item.Name)</h6>
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>

                </div>
                <div class="card-footer">


                    <a class="card-link align-bottom" data-bs-toggle="offcanvas" href="#offCanvas_DashDetails_@item.Id">
                        <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i>Details
                    </a>
                    @await Html.PartialAsync("~/Views/Dash/OffCanvas/_DashDetails.cshtml", @item)


                    <a class="card-link align-bottom" data-bs-toggle="offcanvas" href="#offCanvas_DashEdit_@item.Id">
                        <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i>Edit
                    </a>
                    @await Html.PartialAsync("~/Views/Dash/OffCanvas/_DashEdit.cshtml", @item)


                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_DashDelete_@item.Id">
                        <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete
                    </a>
                    @await Html.PartialAsync("~/Views/Dash/OffCanvas/_DashDelete.cshtml", @item)


                </div>
            </div>
        </div>
    }
</div>
