html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  color: #0077cc !important;
}

#left-side-navbar {
  height: 100vh;
  padding-top: 3.5rem;
  margin-top: 3.5rem;
  box-shadow: 0 0.55rem 0.75rem rgba(0, 0, 0, .1);
  position: fixed;
  border-right: 1px solid #e5e5e5 !important;
}

i {
  padding: 1rem;
}

main {
  margin-top: 3rem;
}

div.card {
  scroll-margin-top: 60px;
}