html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  opacity: .9;
}

a {
  text-decoration: none;
  color: #0077cc !important;
}

#top-navbar {
  background-color: #02153b;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#left-side-navbar {
  background-color: #02153b;
  border-right: 1px solid black;
  height: 100vh;
  padding-top: 3rem;
  position: fixed;
  top: 57px;
  left: 0;
}

i {
  padding: 1rem;
}

main {
  margin-top: 3rem;
}

div.card {
  scroll-margin-top: 60px;
}

.offcanvas {
  width: 50% !important;
  padding: 2rem !important;
  position: fixed;
  top: 56px !important;
  right: 0;
}

.brand-logo-font {
  font-family: 'Tajawal', sans-serif;
  font-size: 2rem;  
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: black !important;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #e9e9e9;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: DodgerBlue;
  color: black !important;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.z-1k {
  z-index: 1000;
}

.z-5k {
  z-index: 5000;
}

.z-10k {
  z-index: 10000;
}

.modal-dialog {
  top: 7rem !important;
}

.roadmap {
  max-width: 10rem;
  max-height: 6rem;    
}

.roadmap-complete {
  border: 2px solid #0077cc !important;
}

.roadmap-complete:hover {
  filter: brightness(95%);
}

.roadmap-create:hover {
  filter: brightness(95%);
  border: 2px solid #0077cc !important;
}


.progress-bar {
  background-color: #0077cc !important;
}