@model IEnumerable<GoalTracker.Models.ActivityEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Activity Entry Index</h1>


<ul class="nav">

    <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_ActivityEntryCreate">
        <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New ActivityEntry
    </a>
    @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityEntryCreate.cshtml", new ActivityEntry() { })

</ul>



<div class="row g-0">

    @foreach (var activity in Model)
    {
        <div class="col-md-10 offset-md-1">
            <div class="card p-3 mt-3">
                <div class="row">


                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@activity.Title</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@activity.Category</h6>
                                <p class="card-text">@activity.Description</p>

                                <ul>
                                    <li class="list-group-item">
                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityEntryDetails_@activity.Id">
                                            <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i> Details
                                        </a>
                                        @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityEntryDetails.cshtml", @activity)
                                    </li>
                                    <li class="list-group-item">
                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityEntryEdit_@activity.Id">
                                            <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i> Edit
                                        </a>
                                        @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityEntryEdit.cshtml", @activity)
                                    </li>
                                    <li class="list-group-item">
                                        <a class="" data-bs-toggle="offcanvas" href="#offCanvas_ActivityEntryDelete_@activity.Id">
                                            <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete
                                        </a>
                                        @await Html.PartialAsync("~/Views/ActivityEntry/OffCanvas/_ActivityEntryDelete.cshtml", @activity)
                                    </li>
                                </ul>

                               

                                

                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small>3 days ago</small>
                                </div>
                                <p class="mb-1">Some placeholder content in a paragraph.</p>
                                <small>And some small print.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Some placeholder content in a paragraph.</p>
                                <small class="text-muted">And some muted small print.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Some placeholder content in a paragraph.</p>
                                <small class="text-muted">And some muted small print.</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                                <label class="form-check-label stretched-link" for="firstCheckboxStretched">First
                                    checkbox</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched">
                                <label class="form-check-label stretched-link" for="secondCheckboxStretched">Second
                                    checkbox</label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckboxStretched">
                                <label class="form-check-label stretched-link" for="thirdCheckboxStretched">Third
                                    checkbox</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>






        </div>
    }
</div>
