@model IEnumerable<GoalTracker.Models.Template>

@{
    ViewData["Title"] = "Index";
}

<h1>Templates</h1>

<p>
    <a class="nav-link" data-bs-toggle="offcanvas" href="#offCanvas_TemplateCreate">
        <i class="bi-plus-circle" style="font-size: 1rem; color: #0077cc;"></i>Create New Template
    </a>
    @await Html.PartialAsync("~/Views/Template/OffCanvas/_TemplateCreate.cshtml", new Template() { })

</p>





<div class="row">

    @foreach (var template in Model)
    {
        <div class="col-md-10 offset-md-1">


            <div class="card m-3 p-3" style="min-height: 10rem;">
                <div class="row">


                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@template.Title</h5>
                                <h6 class="card-text">@template.Category</h6>
                                <p class="card-text">@template.Description</p>

                                <button type="button" class=" btn btn-outline-primary">Create from Template</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">

                    </div>
                    <div class="col-sm-3">
                      
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-start align-items-start">
                                <div>
                                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_TemplateDetails_@template.Id">
                                        <i class="bi-card-text" style="font-size: 1rem; color: #0077cc;"></i>
                                        Details
                                    </a>
                                    @await Html.PartialAsync("~/Views/Template/OffCanvas/_TemplateDetails.cshtml", @template)
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-start">
                                <div>
                                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_TemplateEdit_@template.Id">
                                        <i class="bi-pen" style="font-size: 1rem; color: #0077cc;"></i> Edit
                                    </a>
                                    @await Html.PartialAsync("~/Views/Template/OffCanvas/_TemplateEdit.cshtml", @template)
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-start align-items-start">
                                <div>
                                    <a class="" data-bs-toggle="offcanvas" href="#offCanvas_TemplateDelete_@template.Id">
                                        <i class="bi-trash3" style="font-size: 1rem; color: #0077cc;"></i> Delete
                                    </a>
                                    @await Html.PartialAsync("~/Views/Template/OffCanvas/_TemplateDelete.cshtml", @template)
                                </div>
                            </li>
                        </ul>
                
                    </div>


                </div>
            </div>

        </div>
    }

</div>