@model GoalTracker.Models.VizType

<div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvas_VizTypeEdit_@Model.Id" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title" id="offcanvasRightLabel">Edit VizType</h1>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="offcanvas-body">
            
                        
                        <form asp-controller="VizType" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group mb-3">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group mb-3 float-end">
                                <input type="submit" value="Save" class="btn btn-outline-primary" />
                            </div>
                        </form>
              

              
            @section Scripts {
                @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }



            </div>
        </div>